.container {
    height : 100vh;
    background : no-repeat center;
    background-size:cover;
    display : flex;
    flex-direction: column;
}

.top {
    display:flex;
    align-content: center;
    background-color : black;
    flex : 3;
}

.topContent{
    display: flex;
    align-content: center;
}

.topTitle {
    margin-left : 2vw;
    margin-right : 2vw;
    font-family: "Bebas Neue", sans-serif;
    font-size : 2vw;
    color : red;
}

.searchBox{
    padding : 2vw;
    display: flex;
    height: 3vh;
    align-content: center;
}

.inputBox{
    background-color: gray;
    width: 20vw;
    font-family: "Bebas Neue", sans-serif;
    font-size : 1vw;
    color : white;
}

.searchBtn{
    margin-left: 1vw;
    background-color: red;
    font-family: "Bebas Neue", sans-serif;
    font-size : 1vw;
    color : Black;
}

.center{
    display:flex;
    flex-direction : row;
    justify-content:space-around;
    background-color : rgba(0, 0, 0, 0.623);
    flex : 7;
    flex-wrap: wrap;
}

.card{
    height : 60vh;
    width : 30vw;
    margin : 1vh 1vw 1vh 1vw;
}

.cardBackground{
    display:flex;
    flex-direction : column;
    align-items:center;
    height : 60vh;
    width : 30vw;
    background-repeat: no-repeat;
    background : center;
    background-size: cover;
}

.title{
    color : white;
    font-family: "Bebas Neue", sans-serif;
    margin : 1vh 1vw 1vh 1vw;
    font-size : 2em;
}

.overview{
    color : white;
    margin : 1vh 1vw 1vh 1vw;
}

.star{
    color : white;
    align-content: end;
}